//spawn-at-startup "dbus-update-activation-environment" "--systemd" "--all"
spawn-at-startup "qs" "-c" "noctalia-shell" "-n"
spawn-at-startup "firefox"
spawn-at-startup "sh" "-c" "sleep 2 && firefox --new-window https://www.faxxxmaster.cc"
spawn-at-startup "signal-desktop"
spawn-at-startup "steam" "-silent" "-minimized"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "sh" "-c" "sleep 5 && netbird up"
spawn-at-startup "sh" "-c" "sleep 5 && kDrive"
