layout {

    focus-ring {
        active-color   "#94ccff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#94ccff"
        inactive-color "#131313"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#94ccff"
        inactive-color "#004a74"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#94ccff80"
    }
}

recent-windows {
    highlight {
        active-color "#94ccff"
        urgent-color "#ffb4ab"
    }
}
