layout {

    focus-ring {
        active-color   "#a6a6a6"
        inactive-color "#211c1c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#a6a6a6"
        inactive-color "#211c1c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#211c1c70"
    }

    tab-indicator {
        active-color   "#a6a6a6"
        inactive-color "#514949"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#a6a6a680"
    }
}

recent-windows {
    highlight {
        active-color "#a6a6a6"
        urgent-color "#fd4663"
    }
}
